
<div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="0 1 100%">
  <img src="/assets/{{imageName}}" *ngIf="imageName !== undefined" width="24" style="margin-right: 6px;" [matTooltip]="tooltip"/>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="0 0 568px" fxFlex.sm="1 1 100%" fxFlex.xs="1 1 100%">
    
      <a class="collapsible-hidden" [routerLink]="['/explorer/tx', transaction.txid]">{{transaction.txid}}</a>
    
  </div>
  <!--<div>
    {{transaction.calculateTotalOutputs()}} Dash
  </div>-->
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="0 0 230px">
    <mat-icon class="noselect">date_range</mat-icon> {{transaction.time*1000 | date:'medium'}}
  </div>	
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="0 0 230px" *ngIf="newBalance !== undefined || balanceLoading === true" matTooltip="New balance and change in balance">
    <mat-icon class="noselect">account_balance_wallet</mat-icon> {{newBalance}}&nbsp;
    <mat-spinner style="margin:0 auto;" *ngIf="balanceLoading === true" [diameter]="25"></mat-spinner>  
    <span [style.color]="balanceChange < 0 ? 'red' : 'green'" *ngIf="balanceChange !== undefined">
      ({{balanceChange > 0 ? "+"+balanceChange:balanceChange}})
    </span>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="0 0 440px" fxFlex.sm="1 1 100%" fxFlex.xs="1 1 100%" class="collapsible-hidden">

    <a *ngIf="inputsSummary === transaction.vin[0].addr" [routerLink]="['/explorer/address', inputsSummary]" class="collapsible-hidden">
      {{inputsSummary}}
    </a>
    <span *ngIf="inputsSummary !== transaction.vin[0].addr" class="collapsible-hidden">
      {{inputsSummary}}
    </span>

    <mat-icon aria-hidden="true"><span class="noselect">chevron_right</span><span class="cdk-visually-hidden"> -> </span></mat-icon>

    <a *ngIf="outputsSummary === transaction.vout[0].scriptPubKey.addresses[0]" [routerLink]="['/explorer/address', outputsSummary]" class="collapsible-hidden">
      {{outputsSummary}}
    </a>
    <span *ngIf="outputsSummary !== transaction.vout[0].scriptPubKey.addresses[0]" class="collapsible-hidden">
      {{outputsSummary}}
    </span>
  </div>
</div>
