app-time-series-chart {
  &:fullscreen {
		mat-form-field {
			display: none !important;
		}
	}
	height: 500px;
}

mat-spinner {
	margin: 0 auto;
}


mat-toolbar {
	max-width: 80%;
	margin: 0 auto;
	height: auto;
	&.nomargin {
		max-width: 100%;
		margin: 0 0;
	}
	&.smallmargin {
		max-width: 90%;
	}

	&.transparent-toolbar {
		background-color: transparent;
	}
}