<mat-card *ngFor="let category of categories" [style.background-color]="category.bgcolor === undefined ? 'intial' : category.bgcolor" style="padding-left: 0; padding-right: 0;">
    <h1 style="text-align:center">{{category.name}}</h1>
    <div class="category-items" fxLayoutAlign="center center" fxLayout="row wrap">
        <a *ngFor="let chart of category.charts" [routerLink]="['/charts', chart]">
            <mat-card style="margin: 7px;">
                <mat-card-header>
                    <mat-card-title>{{chartData.charts[chart].title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <img width="320" height="180" [src]="chartData.charts[chart].previewUrl"/>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
</mat-card>