.chart-container {
  display: inline-block;
  max-width: 320px;
  //border: 1px;
  //background-color: lightblue;
}

.chart-image {
  max-width: 100%;
}

.chart-title {
  text-align: center;
}

.mat-card-header { justify-content: center; }


mat-card-title {
  height:2em;
}