.mat-expansion-panel-header {
  height: initial !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}