#uptext_container {
	position: absolute;
	left: 0;
	color: white;
}

#toolbar {
	position: absolute;
	display: block;
	right:0;
	text-align: right;
	overflow: auto;
	max-height: 100%;

	#toolwindow {
		text-align: left;
		color: white;
		background: rgba(255,255,255,0.35);
		display: inline-block; 
		overflow: auto;
		max-height: 100%;
	}

	.selected {
		background: rgba(255,255,255,0.35);
	}
}

:host {
	flex: 1 1 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}	