<div class="icon_explanation">
	<img src="assets/png2/64x64/single_color/dash_icon.png" height=32/>
	Dash address
</div>
<div class="icon_explanation">
	<img src="assets/png2/64x64/dual_color/tx.png" height=32/>
	Regular transaction (can be instant- or privatesend)
</div>
<div class="icon_explanation">
	<img src="assets/png2/64x64/single_color/instantx.png" height=32/>
	InstantSend transaction
</div>
<div class="icon_explanation">
	<img src="assets/png2/64x64/private_send.png" height=32/>
	PrivateSend transaction
</div>
<div class="icon_explanation">
	<img src="assets/png2/64x64/private_instant_send.png" height=32/>
	Instant- and PrivateSend transaction
</div>
<div class="icon_explanation">
	<img src="assets/png2/64x64/create_denominations.png" height=32/>
	PrivateSend create denominations transaction
</div>
<div class="icon_explanation">
	<img src="assets/png2/64x64/dual_color/private_send_0-01.png" height=32/>
	PrivateSend mixing transaction with 0.01 dash denominations
</div>
<div class="icon_explanation">
	<img src="assets/png2/64x64/dual_color/private_send_0-1.png" height=32/>
	PrivateSend mixing transaction with 0.1 dash denominations
</div>
<div class="icon_explanation">
	<img src="assets/png2/64x64/dual_color/private_send_1-0.png" height=32/>
	PrivateSend mixing transaction with 1 dash denominations
</div>
<div class="icon_explanation">
	<img src="assets/png2/64x64/dual_color/private_send_10-0.png" height=32/>
	PrivateSend mixing transaction with 10 dash denominations
</div>
<div class="icon_explanation">
	<img src="assets/png2/64x64/single_color/coinbase.png" height=32/>
	Generation transaction a.k.a coinbase transaction (block reward and fees)
</div>
<div class="icon_explanation">
		<img src="assets/png2/64x64/single_color/collateral_payment.png" height=32/>
		PrivateSend collateral payment transaction
</div>
<div class="icon_explanation">
		<img src="assets/png2/64x64/single_color/make_collateral_inputs.png" height=32/>
		PrivateSend make collateral inputs transaction
</div>
<div>
	<svg height="32" width="32">
	  <line x1="0" y1="10" x2="32" y2="22" style="stroke:rgb(0,255,0);stroke-width:2" />
	</svg>
	Input
</div>
<div>
	<svg height="32" width="32">
	  <line x1="0" y1="10" x2="32" y2="22" style="stroke:rgb(255,0,0);stroke-width:2" />
	</svg>
	Output
</div>
<div>
	 <svg height="32" width="32">
	  <line x1="0" y1="10" x2="32" y2="22" style="stroke:rgb(0,0,255);stroke-width:2" />
	</svg>
	Input and output
</div>
<hr/>
<div>
	Right click a transaction or an address for options
</div>
<hr/>
<div>
	Shortcuts:
	<ul style="margin-top: 5px;">
		<li>ctrl + left click = expand</li>
		<li>shift + left click = delete</li>
	</ul>
</div>
<hr/>
<div>
	Powered by: 
	<ul style="margin-top: 5px;">
		<li>
			<a target="_blank" href="https://github.com/anvaka/VivaGraphJS">VivaGraphJS</a>
		</li>
		<li>
			<a target="_blank" href="https://github.com/dashpay/insight-api-dash">Insight API Dash</a>
		</li>
		<li>
			<a target="_blank" href="https://github.com/angular/angular">Angular</a>
		</li>
	</ul>
</div>
<hr/>
<div>
	Misc:
	<ul style="margin-top: 5px;">
		<li>
			<a target="_blank" href="https://www.dash.org/forum/threads/interactive-blockchain-visualization-tool-development-thread.15425/">Development thread</a> (post questions and suggestions here)
		</li>
		<li>
			<a target="_blank" href="https://github.com/Antti-Kaikkonen/DashRadar">Source code (GitHub)</a>
		</li>
	</ul>
</div>