<div fxLayout="row nowrap" fxLayout.xs="column nowrap" fxLayoutGap="0px" fxLayoutAlign="center">

<mat-card fxFlex.lt-sm="grow" fxFlex="0 0 50%" fxFlex.gt-lg="0 0 800px">
      <mat-card-title>Latest blocks</mat-card-title> 
      <app-blocks-table2></app-blocks-table2>
</mat-card>
<mat-divider fxHide.xs [vertical]="true"></mat-divider>
<mat-divider fxShow.xs [vertical]="false"></mat-divider>
<mat-card fxFlex.lt-sm="grow" fxFlex="0 0 50%" fxFlex.gt-lg="0 0 800px">
    <mat-card-title fxHide.sm>Unconfirmed transactions</mat-card-title>
    <mat-card-title fxHide fxShow.sm>Unconfirmed tx</mat-card-title>
    <mat-table [dataSource]="transactions" ngStyle.gt-xs="max-height: 547px; overflow-y:auto;">

      <ng-container matColumnDef="image">
        <mat-header-cell mat-header-cell *matHeaderCellDef [style.max-width.px]="60" [style.min-width.px]="10">  </mat-header-cell>
        <mat-cell *matCellDef="let transaction" [style.max-width.px]="60" [style.min-width.px]="10"> <img src="/assets/{{transaction.image}}" width="24" height="24"/> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="txid">
        <mat-header-cell mat-header-cell *matHeaderCellDef [style.max-width.px]="300" [style.min-width.px]="30"> Txid </mat-header-cell>
        <mat-cell *matCellDef="let transaction" [style.max-width.px]="300" [style.min-width.px]="30"> 
            <a style="padding-right: 20px; white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis;" [routerLink]="['/explorer/tx', transaction.txid]">{{transaction.txid}}</a> 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef fxFlex="0 0 115px"> Time </mat-header-cell>
        <mat-cell *matCellDef="let transaction" fxFlex="0 0 115px"> {{transaction.time*1000 | date : "mediumTime"}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    
    </mat-table>
</mat-card>

</div>
<br fxHide.xs/>
<div fxLayout="row" fxLayoutAlign="center">
  <mat-card *ngIf="txCount24h !== undefined && privateSendTxCount24h !== undefined && instantSendTxCount24h !== undefined"
    fxFlex.lt-sm="grow" fxFlex="0 0 50%" fxFlex.gt-lg="0 0 800px">
    <mat-card-title>Last 24 hours at a glance</mat-card-title>
    <table id="table24h">
      <tbody>
        <tr>
          <th>Transactions</th>
          <td>{{txCount24h}}</td>
        </tr>
        <tr>
          <th>PrivateSend transactions</th>
          <td>{{privateSendTxCount24h}}</td>
        </tr>
        <tr>
          <th>InstantSend transactions</th>
          <td>{{instantSendTxCount24h}}</td>
        </tr>
        <tr>
          <th>Hashrate</th>
          <td>{{hashRate24h | number:'0.2-2'}} PH/s</td>
        </tr>
      </tbody>
    </table>
  </mat-card>
  <div></div>
</div>