<div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutGap.sm="2px" fxLayoutGap.xs="0px" fxLayoutAlign="center">

<mat-card fxFlex.lt-sm="grow" fxFlex="0 0 calc(50%-5px)" fxFlex.sm="0 0 calc(50%-2px)" fxFlex.gt-lg="0 0 800px">
      <mat-card-title>Latest blocks</mat-card-title> 
      <app-blocks-table2></app-blocks-table2>
</mat-card>

<mat-card fxFlex.lt-sm="grow" fxFlex="0 0 calc(50%-5px)" fxFlex.sm="0 0 calc(50%-2px)" fxFlex.gt-lg="0 0 800px">
    <mat-card-title fxHide.sm>Unconfirmed transactions</mat-card-title>
    <mat-card-title fxHide fxShow.sm>Unconfirmed tx</mat-card-title>
    <mat-table [dataSource]="transactions" style="max-height: 547px; overflow-y:auto;">

      <ng-container matColumnDef="image">
        <mat-header-cell mat-header-cell *matHeaderCellDef [style.max-width.px]="60" [style.min-width.px]="10">  </mat-header-cell>
        <mat-cell *matCellDef="let transaction" [style.max-width.px]="60" [style.min-width.px]="10"> <img src="/assets/png2/64x64/{{transaction.image}}" width="24" height="24"/> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="txid">
        <mat-header-cell mat-header-cell *matHeaderCellDef [style.max-width.px]="300" [style.min-width.px]="30"> Txid </mat-header-cell>
        <mat-cell *matCellDef="let transaction" [style.max-width.px]="300" [style.min-width.px]="30"> 
            <a style="padding-right: 20px; white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis;" [routerLink]="['/explorer/tx', transaction.txid]">{{transaction.txid}}</a> 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef fxFlex="0 0 115px"> Time </mat-header-cell>
        <mat-cell *matCellDef="let transaction" fxFlex="0 0 115px"> {{transaction.time*1000 | date : "mediumTime"}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    
    </mat-table>
</mat-card>

</div>