<mat-card style="display: none;"></mat-card>
<div fxLayout="column wrap" fxLayoutAlign="center center" fxFlex="1 1 auto">
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="1 1 auto" class="dashboard-items">
    <a routerLink="/explorer" class="mat-card">
        <mat-icon>storage</mat-icon><br/>
        Explorer
    </a>
    <a routerLink="/graph" class="mat-card">
        <mat-icon>device_hub</mat-icon><br/>
        Graph
    </a>
    <a routerLink="/charts" class="mat-card">
      
      <mat-icon>show_chart</mat-icon><br/>
      Charts
    </a>
    
    <a routerLink="/nodes" class="mat-card">
        <mat-icon>desktop_windows</mat-icon>
        Nodes
    </a>
  </div>
</div>
