<mat-accordion [displayMode]="'flat'" [multi]="true">
  <ng-container *ngFor="let transaction of transactions; let i = index">
    <mat-card fxLayout="row" fxLayoutAlign="start center">
      <app-transaction-summary [transaction]="transaction" [currentAddress]="currentAddress" style="min-width:0;"></app-transaction-summary>
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="expanded[i] = !expanded[i]">
          <mat-icon>{{expanded[i] ? "expand_less" : "expand_more"}}</mat-icon>
        </button>
      </div>
    </mat-card>
    <mat-expansion-panel [expanded]="expanded[i]" class="remove-padding">
        <ng-template matExpansionPanelContent>
          <app-transaction-input-output-table  [transaction]="transaction" [txinindex]="txinindex" [txoutindex]="txoutindex" [currentAddress]="currentAddress"></app-transaction-input-output-table>
        </ng-template>
    </mat-expansion-panel>
    <hr *ngIf="i < transactions.length-1"/>
  </ng-container>  
</mat-accordion>